<div class="wrapper">
  <div class="form-box signup">
    <h2>Register</h2>

    <form (ngSubmit)="onSubmit()">
      <div class="input-box" [class.has-error]="hasFieldError('username')">
        <span class="icon">
          <ion-icon name="person"></ion-icon>
        </span>
        <input type="text" [(ngModel)]="username" name="username" required placeholder=" " [disabled]="isLoading">
        <label>Username</label>
        <div *ngIf="hasFieldError('username')" class="field-error">{{ getFieldError('username') }}</div>
      </div>

      <div class="input-box" [class.has-error]="hasFieldError('email')">
        <span class="icon">
          <ion-icon name="mail"></ion-icon>
        </span>
        <input type="email" [(ngModel)]="email" name="email" required placeholder=" " [disabled]="isLoading">
        <label>Email</label>
        <div *ngIf="hasFieldError('email')" class="field-error">{{ getFieldError('email') }}</div>
      </div>

      <div class="input-box" [class.has-error]="hasFieldError('firstname')">
        <span class="icon">
          <ion-icon name="person-outline"></ion-icon>
        </span>
        <input type="text" [(ngModel)]="firstname" name="firstname" required placeholder=" " [disabled]="isLoading">
        <label>First Name</label>
        <div *ngIf="hasFieldError('firstname')" class="field-error">{{ getFieldError('firstname') }}</div>
      </div>

      <div class="input-box" [class.has-error]="hasFieldError('lastname')">
        <span class="icon">
          <ion-icon name="person-outline"></ion-icon>
        </span>
        <input type="text" [(ngModel)]="lastname" name="lastname" required placeholder=" " [disabled]="isLoading">
        <label>Last Name</label>
        <div *ngIf="hasFieldError('lastname')" class="field-error">{{ getFieldError('lastname') }}</div>
      </div>

      <div class="input-box address-box" [class.has-error]="!isAddressComplete() && username !== ''">
        <span class="icon">
          <ion-icon name="location"></ion-icon>
        </span>
        <input type="text" 
               [value]="getAddressDisplay()" 
               name="address" 
               readonly 
               (click)="openAddressModal()" 
               required 
               placeholder=" " 
               [disabled]="isLoading"
               class="address-input">
        <label>Address</label>
        <div *ngIf="hasFieldError('address')" class="field-error">{{ getFieldError('address') }}</div>
      </div>

      <div class="input-box" [class.has-error]="hasFieldError('password')">
        <span class="icon">
          <ion-icon name="lock-closed"></ion-icon>
        </span>
        <input type="password" [(ngModel)]="password" name="password" required placeholder=" " [disabled]="isLoading">
        <label>Password</label>
        <div *ngIf="hasFieldError('password')" class="field-error">{{ getFieldError('password') }}</div>
      </div>

      <div class="input-box" [class.has-error]="hasFieldError('confirmPassword')">
        <span class="icon">
          <ion-icon name="lock-closed"></ion-icon>
        </span>
        <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required placeholder=" " [disabled]="isLoading">
        <label>Confirm Password</label>
        <div *ngIf="hasFieldError('confirmPassword')" class="field-error">{{ getFieldError('confirmPassword') }}</div>
      </div>

      <button type="submit" class="btn" [disabled]="isLoading">
        {{ isLoading ? 'Registering...' : 'Register' }}
      </button>

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <div class="login-register">
        <p>Already have an account?
          <a [routerLink]="['/login']" class="login-link">Login</a>
        </p>
      </div>
    </form>
  </div>
</div>

<div class="modal-overlay" *ngIf="showAddressModal" (click)="closeAddressModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h3>Enter Address Details</h3>
      <button class="close-btn" (click)="closeAddressModal()" type="button">
        <ion-icon name="close"></ion-icon>
      </button>
    </div>
    
    <div class="modal-body">
      <div class="input-box">
        <span class="icon">
          <ion-icon name="home"></ion-icon>
        </span>
        <input type="text" [(ngModel)]="address.street" name="street" required placeholder=" ">
        <label>Street</label>
      </div>

      <div class="input-box">
        <span class="icon">
          <ion-icon name="business"></ion-icon>
        </span>
        <input type="text" [(ngModel)]="address.city" name="city" required placeholder=" ">
        <label>City</label>
      </div>

      <div class="input-box">
        <span class="icon">
          <ion-icon name="mail-outline"></ion-icon>
        </span>
        <input type="text" [(ngModel)]="address.postalCode" name="postalCode" required placeholder=" ">
        <label>Postal Code</label>
      </div>

      <div class="input-box">
        <span class="icon">
          <ion-icon name="globe"></ion-icon>
        </span>
        <input type="text" [(ngModel)]="address.country" name="country" required placeholder=" ">
        <label>Country</label>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="closeAddressModal()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="saveAddress()">Save Address</button>
    </div>
  </div>
</div>
